.articulo {
    background-color: aqua;
}

.carrito {
    background-color: chartreuse;
}

    /*---- div del articulo comprado, el que aparece en el drop  --*/
.articulocomprado {
    display: flex;
}

.articulocompradonombre {
    float: left;
    
}

.preciodrop {
    float: left;
}

.btn-delete {
    float: left;
}