/*body {
    background-image: url(../images/supermarket.jpg);
    background-size: cover;
}*/

.bienvenida{
    text-align: center;
}

.fondo {
    width: 100%;
    height: 100%;
    position: fixed;
}


.menucomprar {
    background-color: burlywood;
    max-width: 25em;
    position: absolute;
    margin-top: 2em;
    border: 2px solid #000;
}

.fruta {
    max-width: 4em;
}


.articulo {
    background-color: aqua;
    display: inline-block;
    margin-left: 1em;
    min-width: 6em;
    max-width: 6em;
    margin-bottom: 1em;
}

.carrito {
    background-color: chartreuse;
    max-width: 15em;
}

    /*---- div del articulo comprado, el que aparece en el drop  --*/
.articulocomprado {
    display: flex;
}

.articulocompradonombre {
    float: left;
    
}

.preciodrop {
    float: left;
    padding-left: 2em;
}

.btn-delete {
    float: left;
    margin-left: 2em;
}