
.nuevatarea {
    background-color: aliceblue;
}

body {
    background-color: blue;
}

.cuerpo {
   
    margin-top: 2em;
}

/*---------header ------------*/
/*                            */
/*----------------------------*/

.header {
    background-color: aliceblue;
    max-width: 30%;
}

.header h1 {
    text-align: center;
}

.header span {
    margin-left: 30%;
}

.header input {
    margin-left: 20%;
}

.header textarea {
    margin-left: 20%;
}

.header button {
    margin-left: 30%;
}


/*---------nuevatarea --------*/
/*                            */
/*----------------------------*/

.nuevatarea {
    background-color: aliceblue;
    max-width: 30%;
    margin-left: 2em;
    float: left;
    margin-top: 1em;
}


.nuevatarea span {
    padding: 1em;
}

.nuevatarea p {
   padding: 1em;
}

.nuevatarea button {
    padding: 1em;
}