/* --------------  GRID  --------------*/
/*-                                    */
/*-------------------------------------*/

.grid {
	display: grid;
	
	grid-template-columns: 100%;
	grid-template-rows: 7vw 30vw 7vw;
}


/* ------------ Header  ---------------*/
/*-                                    */
/*-------------------------------------*/


.header p {
	float: right;
	padding-right: 2em;
	margin-top: 0;
}

.header button {
	float: right;
}

/* ------------ Medio   ---------------*/
/*-                                    */
/*-------------------------------------*/

.medio input {
	margin-left: 45%;
}

.medio img {
	margin-left: 34%;
	max-width: 100%;
	height: auto;
}

/* ------------ Footer  ---------------*/
/*-                                    */
/*-------------------------------------*/

/*
.footer {

}*/